<h1>API REST DE CELULARES</h1>
<p>BY. CARRILLO ALEJOS ERIC <br>
       <br>
       <br>
       POR FAVOR USE POSTMAN CON EL SIGUIENTE LINK PARA INGRESAR O MODIFICAR DATOS :) <br>
       https://apicelulares.herokuapp.com/api/celulares
</p>
